<%= erb :'template', layout: false %>
<div class="homepage">
  <h1>Welcome to Dashboard</h1>
  <p id='welcome-text'>
    Welcome to Mini Learning App, where you can search an article of your choice based on topic. <br />
    You can only search for an article and read once per 24 hours
  </p>
  <div class="article-search-store">
    <form method="post" action='/article'>
      Search article here: <br />
      <input
        type="text" 
        name="searchtopic" 
        placeholder="Please enter word/phrase of main article you need" 
        required 
        />
        <br />
        <button type="submit">Submit</button>
      </form>
      <br />
      <h3><%= @title %></h3>
      <p><%= @description %></p>
      <p><%= @content %></p>
      <h5>Author: <%= @author %></h5>
      <p><b>Published on:</b> <%= @publisheddate %></p>
      <a href='<%=@url%>'>Read More</a>
    </div>
  </div>
