<%= erb :'template', layout: false %>
<div class="homepage">
  <nav class="dashboard-navbar"><a href="/logout">Logout</a></nav>
  <h1>Welcome to Dashboard</h1>
  <p id='welcome-text'>
    Welcome to Mini Learning App, where you can search an article of your choice based on topic. <br />
    You can only search for an article and read once per 24 hours
  </p>
  <div class="article-search-store">
    <form method="post" action='/article'>
      Search article here: <br />
      <input
        type="text" 
        name="searchtopic" 
        placeholder="Please enter word/phrase of main article you need" 
        required 
        />
        <br />
        <% if @disable == true %>
          <button type="submit" class="disabled-button" disabled>Disabled</button>
        <% else %>
          <button type="submit">Submit</button>
        <% end %>
      </form>
      <br />
      <% if @disable == true %>
        <h3><%= @title %></h3>
        <p><%= @content %></p>
        <h5>Author: <%= @author %></h5>
        <p><b>Published on:</b> <%= @publisheddate %></p>
        <a href='<%=@url%>'>Read More</a>
      <% else %>
        <p>Search to display articles here!!!</p>
      <% end %>
    </div>
  </div>
